/*
 * MGP Main Style
 */
 
// Loading Flat UI main
@import "flat-ui";

body {
  color: #363931;
}


.container {
  width: 100%;
  @media (min-width: @screen-md-min){
    width: 962px;
  }
  @media (min-width: @screen-lg-min){
    width: 1170px;
  }
}


// Nav tweaks
.header-banner { 
  min-height: 50px;
}
.main-nav {
  background: #618517;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxODUxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODY0MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(97,133,23,1) 0%, rgba(72,100,15,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,133,23,1)), color-stop(100%,rgba(72,100,15,1)));
  background: -webkit-linear-gradient(top,  rgba(97,133,23,1) 0%,rgba(72,100,15,1) 100%);
  background: -o-linear-gradient(top,  rgba(97,133,23,1) 0%,rgba(72,100,15,1) 100%);
  background: -ms-linear-gradient(top,  rgba(97,133,23,1) 0%,rgba(72,100,15,1) 100%);
  background: linear-gradient(to bottom,  rgba(97,133,23,1) 0%,rgba(72,100,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#618517', endColorstr='#48640f',GradientType=0 );
  border: none;
  border-bottom: 3px solid #5a7a18;
  margin-bottom: 0;
  .box-shadow (0 0 2px rgba(0, 0, 0, 0.3), 0 0 28px rgba(0, 0, 0, 0.2));
  .navbar-brand {
    border: none;
    position: relative;
    border-radius: 0;
    margin: 0 20px -30px 0px;
    padding: 0 !important;
    left: 15px;
    z-index: 100;
    .box-shadow (0 0 2px rgba(0,0,0,0.3), 0 0 28px rgba(0,0,0,0.08));
    img {
      height: 84px;
      @media (max-width: @screen-sm-min){
        height:71px;
        width: auto;
      }
    }
  }
  .navbar-nav {
    margin: 0;
    margin-left: 160px;
    @media (max-width: @screen-xs-min){
        > li > ul > li ul {
        left: 100%;
        display: none;
      }
    }
    > li {
      @media (max-width: @screen-sm-min){
        span {
          width: 40px;
          height: 40px;
          background-color: rgba(255,255,255,0.3);
          float: left;
          margin-right: 10px;
          position: relative;
          &:before {
            content: "›";
            color: #FFF;
            position: absolute;
            top: 7px;
            left: 17px;
            display: block;
          }
        }
      }
      > a {
        .transition(all .2s);
        padding: 20px @navbar-link-space 17px;
        line-height: 20px;
        text-shadow: 0px -1px 1px rgba(0,0,0,0.2);
        letter-spacing: -0.5px;
        margin-bottom: -3px;
        color: lighten(@brand-primary, 65%);
        border-bottom: 3px solid transparent;
        &:hover{
          color: white;
          border-bottom: 3px solid white;
          text-shadow: 0px -1px 1px rgba(0,0,0,0.2), 0 0 50px white;
        }
        @media (max-width: @screen-sm-min){
          font-size: 1em;
          border-bottom: 1px solid rgba(255,255,255,0.2) !important;
          margin-bottom: 0;
        }
      }
    }
    > li > ul:before {
      border-color: transparent transparent @brand-secondary transparent;
    }

    @media (max-width: @screen-sm-min){
      margin-top: 15px;
      > li ul > li {
        clear: both;
        border-top: none;
        &:hover > ul > li {
          /* Adjusts the sub menu level 2 to be inline*/
          float: left;
          display: inline;
          clear: none;
          border: none;
        }
      }
    }

    ul {
      a {
        color: lighten(@brand-primary, 65%);
        &:hover {
          color: white;
          background-color: lighten(@brand-secondary, 2%);
        }
      }
      > li {
        padding: 0;
        background: darken(@brand-secondary, 5%);
        border-bottom: 1px solid darken(@brand-secondary, 8%);
        border-top: 1px solid @brand-secondary;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        &:last-child, &:first-child {
          padding: 0;
          .border-radius(0);
        }
      }
    }
  }
  .navbar-collapse {
    border-top: none !important;
    box-shadow: none;
  }
  @media (max-width: @screen-sm-min) {
    > li:hover > ul, .navbar .nav > li.dropdown:hover > ul, .navbar .nav > li:hover .dropdown-menu, .navbar .nav > li.dropdown:hover .dropdown-menu {
      height: auto;
      margin-left: 15px;
    }
    > li:hover > ul li:hover ul, .navbar .nav > li.dropdown:hover > ul li:hover ul, .navbar .nav > li:hover .dropdown-menu li:hover ul, .navbar .nav > li.dropdown:hover .dropdown-menu li:hover ul {
      height: auto;
      margin-left: 7px;
    }
  }
}

.navbar-square-border {
  border-radius: 0px;
}
/*.bottom-menu {
  background-color: @navbar-bottom-color;
  color: white;
}*/

// Landing page
.landing-dark-wrap {
  background-color: black;
  position: relative;
  h6 {
    color: @mgpLightGreen;
    font-family: @font-family-alt;
  }
}
.landing-light-gray-wrap {
  background-color: @gray-light;
  // margin-top: 2em;
  & + .bottom-menu { 
    margin-top: 0
  }
  padding-bottom: 2em;
  .container {
    padding: 0;
  }
}
.landing-primary-color-wrap {
  background-color: lighten(@mgpLightGreen, 53%);
  border-top: 1px solid lighten(@mgpLightGreen, 45%);
  border-bottom: 1px solid lighten(@mgpLightGreen, 45%);
  padding: 30px 0;
  &.vibrant {
    background-color: lighten(@mgpLightGreen, 20%);
    border-top: 1px solid lighten(@mgpLightGreen, 8%);
    border-bottom: 1px solid lighten(@mgpLightGreen, 8%);
    color: lighten(@mgpLightGreen, 54%);
  }
}
.landing-light-color-wrap {
  background-color: #f1f5eb;
  border-top: 3px solid darken(#f1f5eb, 7%);
  padding: 30px 0;
  margin-top: 50px;
  h4 {
    color: @mgpLightGreen;
  }
}

.carousel.landing-page {
  .item {
    text-align: right;
    img {
      float: right;
    }
    .carousel-caption {
      background-color: transparent;
      margin: 0 6em;
      padding: 0 0 5em;
      h2 {
        margin-top: 0;
      }
    }
  }
}
.standout {
  background: mix(@inverse, @brand-primary, 94%);
  background: lighten(@mgpLightGreen, 50%);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjRlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWU2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(240,244,233,1) 0%, rgba(225,230,214,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,244,233,1)), color-stop(100%,rgba(225,230,214,1)));
  background: -webkit-linear-gradient(top,  rgba(240,244,233,1) 0%,rgba(225,230,214,1) 100%);
  background: -o-linear-gradient(top,  rgba(240,244,233,1) 0%,rgba(225,230,214,1) 100%);
  background: -ms-linear-gradient(top,  rgba(240,244,233,1) 0%,rgba(225,230,214,1) 100%);
  background: linear-gradient(to bottom,  rgba(240,244,233,1) 0%,rgba(225,230,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f4e9', endColorstr='#e1e6d6',GradientType=0 );
  .box-shadow(0 0 30px rgba(0,0,0,0.06));
  padding: 1.5em 2em 1em;
  margin: -1.3em 0 0;
  h4 {
    color: @mgpLightGreen;
    font-size: ceil(@font-size-base * 1.7);
    margin-top: 0;
  }
  a.text-link-lg {
    .transition(all .2s);
    line-height: 1;
    color: @mgpLightGreen;
    font-size: ceil(@font-size-base * 1.1475);
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 1em;
    &:hover {
      color: darken(@mgpLightGreen, 20%);
      text-shadow: 0 0px 20px white, 0 0px 50px white;
    }
    + .text-link-lg {
      text-align: center;
      display: inline-block;
      border-left: 1px solid rgba(0,0,0,0.15);
    }
    @media (max-width: @screen-xs-min){
      display: block;
      border: 0 !important;
      padding: 10px 20px;
    }
  }
  @media (max-width: @screen-xs-min){
    padding: 15px;
    margin: 0;
    a {
      font-size: ceil(@font-size-base * 0.925);
    }
  }
}
.row .feature-3 {
  padding: 0 1%;
}


// Category Page
.dropover {
  position: relative;
  &:hover > .dropover-content {
    visibility: visible;
  }
  .dropover-content {
    visibility: hidden;
    width: 400px;
    position: absolute;
    top: 0px;
    background: mix(@brand-warning, @alert-bg, 2%);
    border: 2px solid mix(@brand-warning, @alert-border, 3%);
    left: 160px;
    text-align: left;
    padding: 0px;
    z-index: 10000;
    .transition(.25s linear);
    &:before {
        position: absolute;
        top: 7px;
        left: -10px;
        content: '';
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 10px solid mix(@brand-warning, @alert-border, 3%);
      }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 10px 0;
        float: left;
        margin: 3px 7px;
        a {
          color: white;
          padding: 10px;
          background: @mgpLightGreen;
          border-radius: 5px;
          &:hover {
           background: @mgpDarkGreen;
          }
        }
        &.header{
          float: none;
          padding: 10px;
          margin: 0;
          font-size: 0.825em;
          font-weight: normal;
          color: @mgpDarkGreen;
          background: mix(@brand-warning, @alert-border, 3%);
        }
      }
    }
  }
}

// Product Page
.cover-img {
  background-color: black;
  position: relative;
  border-bottom: 3px solid #dcdfd6;
  .container {
    position: relative;
    background: black no-repeat right;
    min-height: 290px; 
    padding-top: 1px;
    & img {
        position: absolute;
        z-index: 00001;
        height: 100%;
        width: auto;
        right: 0;
        top: 0;
    }
    .background-size(~"auto, 100%");
    h2 {
      font-size: floor(@font-size-base * 3.2);
      color: @inverse;
      z-index: 00003;
      position: absolute;
      bottom: 40%;
      text-shadow: 0 0 130px white, 1px 1px 4px #222;
      text-shadow: 0 0 130px white, 1px 1px 4px rgba(0,0,0,0.2);
    }
    h6 {
      z-index: 00002;
      position: absolute;
      bottom: 25%;
      color: @mgpLightGreen;
      font-family: @font-family-alt;
    }
    /* @media (min-width: @screen-md-min) { 
      &:before {
        position: absolute;
        bottom: -40px;
        left: -20px;
        content: '';
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid black;
      }
    }*/
    @media (max-width: @screen-xs-min) { 
      & {
        min-height: 250px; 
      }
      h2 {
        font-size: floor(@font-size-base * 2.2);
      }
      h6 {
        font-size: floor(@font-size-base * 1.1);
      }
    }
    @media (max-width: 620px) { 
      & {
        background-position-x: 0%;
      }
      img {
        right: -50%;
      }
    }
  }
}
.watermark {
  background: url(../images/mgp-pattern.png) bottom right no-repeat;
}
.content {
  .glossary {
    font-size: 70%;
    opacity: 0.5;
    margin-left: -.2em;
  }
  figure {
    display: block;
    float: none;
    text-align: center;
    img {
      max-width: 100%;
    }
    figcaption {
      color: @gray-light;
      font-size: 90%;
    }
  }
  @media (min-width: @screen-sm-min) { 
    & {
      padding-right: 2em;
    }
    figure {
      float: left;
      margin: 0 2em 1em 0;
    }
  }
}

// Sidebar
.sidebar {
  color: @brand-primary;
  padding: 30px;
  text-shadow: none;
  background-color: mix(@brand-primary, white, 6%);
  border: 2px solid mix(@brand-primary, white, 15%);
  font-size: floor(@component-font-size-base * 1.067); // ~16px
  line-height: 1.625; // ~26px
  border-radius: @border-radius-large;
  .title {
    margin: -30px 0 15px 0;
    h5 {
      background-color: mix(@brand-primary, white, 15%);
      padding: 0.7em 30px;
      margin: 0 -30px;
    }
  }
  *:last-child {
    margin-bottom: 0;
  }
  .right {
    float: right;
  }
}

// responsive video
.video-listing {
  .video {
    float: left;
    width: 23%;
    margin-right: 2%;
    @media (max-width: @screen-sm-max) { 
      width: 30%;
      margin-right: 3%;
    }
    @media (max-width: @screen-xs-max) { 
      width: 47%;
      margin-right: 3%;
    }
  }
}
.video {
  position: relative;
  img { height: auto; width: 100%; }
  .play {
    position: absolute;
    top: 50%;
    left: 50%; 
    margin: -20px 0 0 -20px; 
    font-size: 40px;
    color: white;
  }
  @media (min-width: @screen-sm-min) { 
    &.right {
      float: right;
      margin: 0 0 15px 25px;
      width: 60%;
    }
    &.left {
      float: left;
      margin: 0 25px 15px 0;
      width: 60%;
    }
  }
}
.video-wrapper {
  position: relative;
  padding-bottom: 49.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.video-thumbnail {
  border-radius: @border-radius-small;
  margin: 24px 2px;
  min-height: 180px;
  .video-description {
    line-height: 1.4;
    font-size: 0.775em;
    font-weight: bold;
    padding-top: 4px;
  }
  .video {
    max-height: 140px;
    overflow: hidden;
  }
  .video img {
    .transition (.2s);
    opacity: 0.8;
    margin-top: -11%;
  }
  &:hover .video img {
    opacity: 1;
    cursor: pointer;
  }
}

.video-description {
  font-size: 0.875em;
  line-height: 1.6;
}

.container.videos {
  min-height: 140px;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: @font-family-alt;
}

// Misc
hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-top: 1px solid rgba(0,0,0,0.13);
  clear: both;
}
.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}
.center-text {
  text-align: center;
}
.no-pad {
  padding: 0;
}
.pad {
  margin-bottom: ceil(@font-size-base * 2);
  margin-top: ceil(@font-size-base * 2);
  &.pad--small {
    margin-bottom: ceil(@font-size-base);
    margin-top: ceil(@font-size-base);
  }
  &.pad--horizontal {
    margin: 0 ceil(@font-size-base); 
  }
  & + .pad {
    margin-top: 0;
  }
  &:first-child {
    margin-top: 0;
  }
  &.row { 
    margin: inherit;
    padding-top: 2em;
    &.pad--small {
      padding-top: 1em;
    }
  }
}
.pad-inner-right {
  @media (min-width: @screen-sm-min) { 
    & > * {
      margin-right: 2em;
    }
  }
}
.pad-bottom {
  @media (min-width: @screen-sm-min) { 
    & {
      margin-bottom: 2em;
    }
  }
}
img.left, div.left, .float-left {
  float: left;
  margin: 0 25px 15px 0;
}
img.right, div.right, .float-right {
  float: right;
  margin: 0 0 15px 25px;
}
img.fluid {
  width: 100%;
  height: auto;
}
.stButton {
  .st-sharethis-counter, .stArrow, .stHBubble {
    height: 22px !important;
  }
}
.no-border {
  border-style: none;
}
.no-margin {
  margin: 0;
}
// For demo purposes only
.mgp-headline {
  color: @brand-secondary;
  font: 700 118px/1.1 @font-family-demo !important;
  margin-bottom: 50px;
  padding: 40px 0;
  text-align: center;
  word-wrap: break-word;
  margin-top: 2px;
}

// SAMPLE REQUEST PAGE 
.sample-request {
  font-size: 0.875em;
  line-height: 1.4;
  background: lighten(@mgpLightGreen, 50%);
  padding: 30px;
  .title {
    margin-top: -7px;
    background: lighten(@mgpLightGreen, 60%);
  }
}
//
// HOME PAGE
// --------------------------------------------------
#home-main-slides {
  @slide-height: 300px;
  height: 300px;
  width: 100%;
  max-width: 1110px;
  margin: 40px auto 0px auto;
  background: #efedee;
  position: relative;
  overflow: hidden;
   @media (max-width: @screen-md-min) {
      margin-top: 0;
    }
  .caption {
    width: 100%;
    top: 80px;
    display: block;
    position: relative;
    margin: 0 auto;
    @media (max-width: @screen-xs-min) {
      top: 65px;
    }
    h2 {
      width: 50%;
      font-size: 2em;
      padding: 18px 30px;
      background: @brand-secondary;
      background: rgba(121,167,54, 0.8);
      color: white;
      @media (max-width: @screen-sm-max){
        font-size: 2em;
      }
       @media (max-width: @screen-xs-max){
        font-size: 1.25em;
        width: 100%;
      }
    }
    p.lead {
      color: white;
      text-shadow: 0 1px 3px #222;
      text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }
  }
  .flexslider {
    background: none;
    .border-radius(none);
    .box-shadow(none);
    border: none;
    height: @slide-height;
    .flex-control-nav {
      bottom: 15px;
      z-index: 241;
    }
    .flex-control-nav {
      z-index: 241;
    }
    .flex-direction-nav a {
      height: 40px;
      padding-top: 3px;
      &:before {
        font-size: 30px;
      }
    }
  }
  .slide {
    height: @slide-height;
    top: 0;
    position: absolute;
    width: 100%;
    &.alcohol {
      .background-cover('../images/home/alcohol.jpg');
      background-position: left bottom;
    }
    &.food-ingredients {
      .background-cover('../images/home/food-ingredients.jpg');
      background-position: left center;
    }
    &.partnered-with-customers {
      .background-cover('../images/home/partnered-with-customers.jpg');
      background-position: left center;
    }
  }
}
.latest-news {
  padding: 30px 0;
  ul {
    padding-left: 0;
    li {
      list-style: none;
      line-height: 1.3;
      margin: 10px 0;
      margin-left: 10px;
      &:before {
        content: "›";
        margin-left: -10px;
        font-size: 0.875em;
        padding-right: 5px;
        color: @mgpLightGreen;
      }
      a {
        font-family: @font-family-alt;
      }
    }
  }
}
.executive-bios {
  padding-left: 0;
  li {
      list-style: none;
      line-height: 1.3;
      margin: 5px 0;
      &.active a {
        background: #FFF;
      }
      a {
        padding: 10px;
        .border-radius(4px);
        display: block;
        font-size: 1.25em;
        font-family: @font-family-alt;
        span {
          color: @concrete;
          font-size: 0.875em;
          display: block;
        }
        &:hover {
           background: #FFF;
        }
      }
    }
}


// Panels delimiter
.mgp-row {
  margin: 0 auto;
  padding: 0 20px 50px;
  width: 940px;
  .clearfix();

  .mgp-heading-note,
  .mgp-text-note {
    display: block;
    width: 260px;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
    color: mix(desaturate(@brand-primary, 25%), white, 34%);
    font-weight: 400;
  }
  .mgp-text-note {
    bottom: auto;
    top: 10px;
  }
  &.menu-row {
    padding: 50px 20px 10px;
  }
  &.typography-row {
	  .mgp-content {
      float: none;
      margin-left: 20px;
      padding-top: 0;
      width: auto;    
      clear: both; 
    }
    .mgp-type-example {
	    padding-left: 265px;
	    margin-bottom: 40px;
	    position: relative;
    }
  }
}

.mgp-col {
  float: left;
  margin: 0 20px;
  width: 270px;
}

.mgp-content {
  float: left;
  margin-left: 20px;
  width: 580px;

  &.mgp-content-article {
    font-size: ceil(@font-size-base * 1.285);
    p { margin-bottom: 20px; }

    ul {
      list-style-type: none;
      margin-left: 0;
    }

    li {
      line-height: ceil(@font-size-base * 1.285 * 1.5);
      padding: 0 0 5px;
    }
  }
}

.mgp-content-wide {
  clear: both;
  margin: 0 20px;
  .clearfix();
}

.mgp-title {
  float: left;
  margin: -0.5em 20px 0;
  width: 240px;
  font: 700 24.5px/40px @font-family-demo;

  h1, h2, h3, h4 {
    margin-top: 0;
    font-family: @font-family-demo;
  }
  h1, h2, h3 {
    line-height: 40px !important;
  }
  h3 {
    font-size: 24.5px !important;
  }
  small {
    color: mix(desaturate(@brand-primary, 25%), white, 34%);
    font-size: 13px;
    font-weight: 400;
  }
}

.mgp-buttons .btn,
.mgp-inputs .control-group {
  margin-bottom: 20px;
}

.mgp-navigation {
  .mgp-title {
    margin-top: 10px;
  }
}

.mgp-pager {
  margin-top: -10px;
}

.mgp-tooltips {
  height: 100px;
  // Needed just for the demo. Don't use it in producion ;)

  .tooltip {
    left: -8px !important;
    position: relative !important;
    top: -8px !important;
  }
  .tooltip-inner {
    max-width: 100%;
    width: auto;
  }
}

.mgp-popovers {
  .popover {
    display: block;
    margin: 0 13px 0 -3px;
    position: relative;
    width: auto;
  }
}

.mgp-social-buttons {
  .btn {
    clear: left;
    float: left;
    margin-bottom: 17px;
  }
}

.mgp-headings {
  margin-bottom: 12px;
}

.mgp-tiles {
  margin-bottom: 46px;
}

.mgp-icons {
  font-size: 32px;
  margin-left: -15px;

  > span {
    display: inline-block;
    margin: 0 0 32px 35px;
    width: 32px;
  }

  @media (max-width: @screen-xs-max) {
    & {
      > span {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }
}

.mgp-icons-tooltip {
  bottom: 0;
  color: mix(@brand-primary, white, 30%);
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}

.mgp-inline {
  display: inline-block;
}

.mgp-labels {
	font-size: floor(@font-size-base * 1.056); // ~19px
	
	.visible-lg {
		display: inline !important;
		
		@media (max-width: @screen-sm-max) {
			& {
				display: none !important;
			}
		}
	}	
}


// Illustration Icons
// --------------------------------------------------
.mgp-illustrations {
  margin-top: 40px;

  .mgp-content-wide {
    margin: 0 0 0 -66px;
    padding-top: 20px;

    > div {
      float: left;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin: 0 0 80px 87px;
      text-align: center;
      vertical-align: middle;
    }
  }
  img {
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
  }
}

// Dialog with form inside
.mgp-dialog {
  padding: 13px 20px 15px;
  
  .flat {
	  width: 300px;
  }
  @media (max-width: @screen-sm-max) { 
	  .flat {
		  width: 100%;
	  }
  }
}

// Static Modal
.static-modal-backdrop {
  background-color: mix(@brand-primary, black, 70%);
  padding: 62px 14px;
  margin-bottom: 50px;
  width: 100%;
  
  .modal {
  	bottom: auto;
    display: block;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .modal-dialog {
	  padding: 0;
  }
}

.components-static-modal {
	.modal {
  	bottom: auto;
    display: block;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
    overflow: visible;
  }
  .modal-dialog,
  .modal-content {
	  width: auto;
  }
  .modal-dialog {
	  padding: 0;
  }
}

// Sidebar for Components navigation
.mgp-sidebar {
	font-size: floor(@font-size-base * 0.778); // ~14px
	line-height: 1.214; // ~17px
  height: 100%;
  left: 0;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  position: fixed;
  top: 0;
  padding: 0;
  width: 150px;
  z-index: 10000;
  background-color: mix(@brand-primary, white, 6%);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

  li {
    &:first-child {
      a {
        padding-top: 20px;
      }
    }
  }

  a {
    display: block;
    padding: 7px 20px;
  }
}

//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
 .hide-show {
    display: none;
  }
  .show-hide {
    display: block;
  }
@media (max-width: @screen-sm-min) {
   .hide-show{
    display: block;
  }
  .show-hide {
    display: none;
  }
}
@media (max-width: @screen-sm-max) {
  .mgp-row {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
  .mgp-col,
  .mgp-content,
  .mgp-content-wide,
  .mgp-title {
    float: none;
    margin: 0 0 18px !important;
    padding: 0 !important;
    width: auto;
  }
  .mgp-headline {
    font-size: ceil(@font-size-base * 4.643) !important;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mgp-inline { display: block; }

  .mgp-navigation {
    .btn-toolbar {
      margin: 0;
    }

    .pager {
      display: block;
      margin-left: 0 !important;
      margin-bottom: 20px;
    }
  }
  .typography-row {
  	.mgp-type-example {
	  	padding-left: 0 !important;
  	}
    .mgp-heading-note,
    .mgp-text-note {
      position: static !important;
      margin: 0 0 10px;
    }
  }
  .mgp-illustrations .mgp-content-wide > div {
	  margin-left: 67px;
  }
}

@media (max-width: @screen-xs-max) {
	.mgp-illustrations .mgp-content-wide > div {
		margin-left: 23px;
	}
	.mgp-navigation {
		.mll.pvl {
			padding: 0;
			margin-left: 0 !important;
			margin-bottom: 20px;
		}
	}
}