<div class="bottom-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="bottom-links">
          <li><a href="#fakelink">Sitemap</a></li>
          <li><a href="#fakelink">Privacy Statement</a></li>
          <li><a href="#fakelink">Customer Service</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="bottom-icons">
          <span class="fui-linkedin"></span> &nbsp;&nbsp;
          <span class="fui-youtube"></span> &nbsp;&nbsp;&nbsp;
          © 2013 MGP Ingredients, Inc.
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /bottom-menu-inverse -->