<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/MGP-prototype/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/MGP-prototype/css/mgp-main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/MGP-prototype/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!-- Copied -->
    
    <header class="header-banner">
        <div class="navbar yamm navbar-square-border navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-01"></button>
                <a href="#" class="navbar-brand"></a>
              </div>  
                  
              <div class="navbar-collapse collapse navbar-collapse-01">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#fakelink">Products</a></li>
                  <li>
                    <a href="#fakelink">Food</a>
                    <ul>
                      <li>
                        <div class="yamm-content">
                          <ul class="span2 unstyled">
                            <li><p><strong>Section Title</strong></p></li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                          </ul>
                          <ul class="span2 unstyled">
                            <li><p><strong>Links Title</strong></p></li>
                            <li>
                              <a href="#"> Link Item </a>
                            </li>
                            <li>
                              <a href="#"> Link Item </a>
                            </li>
                            <li>
                              <a href="#"> Link Item </a>
                            </li>
                            <li>
                              <a href="#"> Link Item </a>
                            </li>
                            <li>
                              <a href="#"> Link Item </a>
                            </li>
                            <li>
                              <a href="#"> Link Item </a>
                          </ul>
                          <ul class="span2 unstyled">
                            <li><p><strong>Section Title</strong></p></li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                          </ul>
                          <ul class="span2 unstyled">
                            <li><p><strong>Section Title</strong></p></li>
                            <li>
                              List Item
                            </li>
                            <li>
                              List Item
                            </li>
                            <li>
                              <ul>
                                <li>
                                  <a href="#"> Link Item </a>
                                </li>
                                <li>
                                  <a href="#"> Link Item </a>
                                </li>
                                <li>
                                  <a href="#"> Link Item </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul> <!-- /Sub menu -->
                  </li>
                </ul> <!-- /nav -->
                <form class="navbar-form navbar-right" action="#">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>            
                    </div>
                </div>                                    
              </form>
              </div>
            </div>
        </div>
    </header>

    <!-- Start Page Content -->
    {{ content }}
    <!-- End Page Content -->

    <!--<div class="bottom-menu bottom-menu-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-2 navbar-brand">
            <a href="#fakelink" class="fui-flat"></a>
          </div>

          <div class="col-md-8">
            <ul class="bottom-links">
              <li><a href="#fakelink">About Us</a></li>
              <li><a href="#fakelink">Store</a></li>
              <li class="active"><a href="#fakelink">Jobs</a></li>
              <li><a href="#fakelink">Privacy</a></li>
              <li><a href="#fakelink">Terms</a></li>
              <li><a href="#fakelink">Follow Us</a></li>
              <li><a href="#fakelink">Support</a></li>
              <li><a href="#fakelink">Links</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <ul class="bottom-icons">
              <li><a href="#fakelink" class="fui-pinterest"></a></li>
              <li><a href="#fakelink" class="fui-facebook"></a></li>
              <li><a href="#fakelink" class="fui-twitter"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> --><!-- /bottom-menu-inverse -->
    <!-- End Copied  -->
    
    <!--<div class="container">
      Start doing your next awesomeness here.
    </div>-->
    <!-- /.container -->

    <!-- Load JS here for greater good =============================-->    
    <script src="/MGP-prototype/js/jquery-1.8.3.min.js"></script>
    <script src="/MGP-prototype/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/MGP-prototype/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/MGP-prototype/js/bootstrap.min.js"></script>
    <script src="/MGP-prototype/js/bootstrap-select.js"></script>
    <script src="/MGP-prototype/js/bootstrap-switch.js"></script>
    <script src="/MGP-prototype/js/flatui-checkbox.js"></script>
    <script src="/MGP-prototype/js/flatui-radio.js"></script>
    <script src="/MGP-prototype/js/jquery.tagsinput.js"></script>
    <script src="/MGP-prototype/js/jquery.placeholder.js"></script>
    <script src="/MGP-prototype/bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="/MGP-prototype/js/application.js"></script>
  </body>
</html>
