<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/MGP-prototype/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/MGP-prototype/css/mgp-main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/MGP-prototype/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!-- Copied -->
    
    <header class="header-banner">

      <div class="navbar yamm">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav1">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"> Yamm Megamenu </a>
            <div class="nav-collapse collapse" id="nav1">
              <ul class="nav">
                <!-- Classic list -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> List <b class="caret"></b> </a>
                  <ul class="dropdown-menu">
                    <li>
                      <!-- Content container to add padding -->
                      <div class="yamm-content">
                        <ul class="span2 unstyled">
                          <li><p><strong>Section Title</strong></p></li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                        </ul>
                        <ul class="span2 unstyled">
                          <li><p><strong>Links Title</strong></p></li>
                          <li>
                            <a href="#"> Link Item </a>
                          </li>
                          <li>
                            <a href="#"> Link Item </a>
                          </li>
                          <li>
                            <a href="#"> Link Item </a>
                          </li>
                          <li>
                            <a href="#"> Link Item </a>
                          </li>
                          <li>
                            <a href="#"> Link Item </a>
                          </li>
                          <li>
                            <a href="#"> Link Item </a>
                        </ul>
                        <ul class="span2 unstyled">
                          <li><p><strong>Section Title</strong></p></li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                        </ul>
                        <ul class="span2 unstyled">
                          <li><p><strong>Section Title</strong></p></li>
                          <li>
                            List Item
                          </li>
                          <li>
                            List Item
                          </li>
                          <li>
                            <ul>
                              <li>
                                <a href="#"> Link Item </a>
                              </li>
                              <li>
                                <a href="#"> Link Item </a>
                              </li>
                              <li>
                                <a href="#"> Link Item </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- Accordion demo -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Accordion <b class="caret"></b> </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="yamm-content">
                        <div class="row-fluid">
                          <div id="accordion2" class="accordion  span6">
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #1 </a>
                              </div>
                              <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                                <div class="accordion-inner">
                                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> Collapsible Group Item #2 </a>
                              </div>
                              <div class="accordion-body collapse" id="collapseTwo">
                                <div class="accordion-inner">
                                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"> Collapsible Group Item #3 </a>
                              </div>
                              <div class="accordion-body collapse" id="collapseThree">
                                <div class="accordion-inner">
                                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="accordion3" class="accordion  span6">
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a href="#collapseOne1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #1 </a>
                              </div>
                              <div class="accordion-body collapse" id="collapseOne1" style="height: 0px;">
                                <div class="accordion-inner">
                                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a href="#collapseTwo1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"> Collapsible Group Item #2 </a>
                              </div>
                              <div class="accordion-body collapse" id="collapseTwo1">
                                <div class="accordion-inner">
                                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-group">
                              <div class="accordion-heading">
                                <a href="#collapseThree1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle"> Collapsible Group Item #3 </a>
                              </div>
                              <div class="accordion-body collapse" id="collapseThree1">
                                <div class="accordion-inner">
                                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- Classic dropdown -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Classic <b class="caret"></b> </a><!-- Classic Dropdown -->
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                      <a tabindex="-1" href="#"> Action </a>
                    </li>
                    <li>
                      <a tabindex="-1" href="#"> Another action </a>
                    </li>
                    <li>
                      <a tabindex="-1" href="#"> Something else here </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a tabindex="-1" href="#"> Separated link </a>
                    </li>
                  </ul>
                </li>
                <!-- Pictures -->
                <li class="dropdown yamm-fullwidth">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Pictures <b class="caret"></b> </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="yamm-content">
                        <!-- thumbnails needs a row-fluid to make span fluid -->
                        <div class="row-fluid">
                          <ul class="thumbnails">
                            <li class="span2">
                              <a class="thumbnail" href="#"> <img alt="150x190" data-src="holder.js/150x90"> </a>
                            </li>
                            <li class="span2">
                              <a class="thumbnail" href="#"> <img alt="150x190" data-src="holder.js/150x90"> </a>
                            </li>
                            <li class="span2">
                              <a class="thumbnail" href="#"> <img alt="150x190" data-src="holder.js/150x90"> </a>
                            </li>
                            <li class="span2">
                              <a class="thumbnail" href="#"> <img alt="150x190" data-src="holder.js/150x90"> </a>
                            </li>
                            <li class="span2">
                              <a class="thumbnail" href="#"> <img alt="150x190" data-src="holder.js/150x90"> </a>
                            </li>
                            <li class="span2">
                              <a class="thumbnail" href="#"> <img alt="150x190" data-src="holder.js/150x90"> </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
        <div class="navbar navbar-square-border navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-01"></button>
                <a href="#" class="navbar-brand"></a>
              </div>  
                  
              <div class="navbar-collapse collapse navbar-collapse-01">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#fakelink">Products</a></li>
                  <li>
                    <a href="#fakelink">Food</a>
                    <ul>
                      <li><a href="#fakelink">Knowldege Center</a></li>
                      <li>
                        <a href="#fakelink">Products</a>
                        <ul>
                          <li>
                            <a href="#/food/bakery-products">Bakery Products</a>
                          </li>
                          <li>
                            <a href="#/food/batters-breadings-coatings">Batters, Breadings &amp; Coatings</a>
                          </li>
                          <li>
                            <a href="#/food/cereals-snacks">Cereals &amp; Snacks</a>
                          </li>
                          <li>
                            <a href="#/food/confections">Confections</a>
                          </li>
                          <li>
                            <a href="#/food/dairy-products">Dairy Products</a>
                          </li>
                          <li>
                            <a href="#/food/fillings">Fillings</a>
                          </li>
                          <li>
                            <a href="#/food/flavorings">Flavorings</a>
                          </li>
                          <li>
                            <a href="#/food/gravies-sauces-soups">Gravies, Sauces &amp; Soups</a>
                          </li>
                          <li>
                            <a href="#/food/nutritional-bars-drinks">Nutritional Bars &amp; Instant Drinks</a>
                          </li>
                          <li>
                            <a href="#/food/pasta-noodles">Pasta and Noodles</a>
                          </li>
                          <li>
                            <a href="#/food/meat-poultry-seafood">Processed Meat, Poultry and Seafood</a>
                          </li>
                          <li>
                            <a href="#/food/salad-dressings">Salad Dressings</a>
                          </li>
                          <li>
                            <a href="#/food/vegetarian">Vegetarian Products</a>
                          </li>
                        </ul> <!-- /Sub menu -->
                      </li>
                      <li><a href="#fakelink">Element Three</a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                </ul> <!-- /nav -->
                <form class="navbar-form navbar-right" action="#">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>            
                    </div>
                </div>                                    
              </form>
              </div>
            </div>
        </div>
    </header>

    <!-- Start Page Content -->
    {{ content }}
    <!-- End Page Content -->

    <!--<div class="bottom-menu bottom-menu-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-2 navbar-brand">
            <a href="#fakelink" class="fui-flat"></a>
          </div>

          <div class="col-md-8">
            <ul class="bottom-links">
              <li><a href="#fakelink">About Us</a></li>
              <li><a href="#fakelink">Store</a></li>
              <li class="active"><a href="#fakelink">Jobs</a></li>
              <li><a href="#fakelink">Privacy</a></li>
              <li><a href="#fakelink">Terms</a></li>
              <li><a href="#fakelink">Follow Us</a></li>
              <li><a href="#fakelink">Support</a></li>
              <li><a href="#fakelink">Links</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <ul class="bottom-icons">
              <li><a href="#fakelink" class="fui-pinterest"></a></li>
              <li><a href="#fakelink" class="fui-facebook"></a></li>
              <li><a href="#fakelink" class="fui-twitter"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> --><!-- /bottom-menu-inverse -->
    <!-- End Copied  -->
    
    <!--<div class="container">
      Start doing your next awesomeness here.
    </div>-->
    <!-- /.container -->

    <!-- Load JS here for greater good =============================-->    
    <script src="/MGP-prototype/js/jquery-1.8.3.min.js"></script>
    <script src="/MGP-prototype/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/MGP-prototype/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/MGP-prototype/js/bootstrap.min.js"></script>
    <script src="/MGP-prototype/js/bootstrap-select.js"></script>
    <script src="/MGP-prototype/js/bootstrap-switch.js"></script>
    <script src="/MGP-prototype/js/flatui-checkbox.js"></script>
    <script src="/MGP-prototype/js/flatui-radio.js"></script>
    <script src="/MGP-prototype/js/jquery.tagsinput.js"></script>
    <script src="/MGP-prototype/js/jquery.placeholder.js"></script>
    <script src="/MGP-prototype/bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="/MGP-prototype/js/application.js"></script>
  </body>
</html>
